# Data & Artifacts
data/

# CACHE
*__pycache__*
*.py[cod]

notebooks/

.DS_Store
# Environment
.venv/
env/

.pytest_cache/

# dev scripts
*dev*.py

todo/

# results large files
paper/results/*.nc

tests/
src/tempoctrl/reproduce_model.ipynb
src/tempoctrl/reproduce_visuals.ipynb